.navbar-wrapper{
    
    background-color: #64BD00;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: top 0.3s;
}
.navbar-wrapper-scrolled{
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.059);
}
.navbar-logo-wrapper{
    padding: 10px 0px;
}
.navbar-logo-wrapper a{
    text-decoration: none;
}
.navbar-logo-wrapper a h3{
    color: #fff;
    margin-bottom: 0;
}
.navbar-links-wrapper{
    padding: 0 50px;
}
.nav-link-item{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    text-align: right;
    font-weight: 700;
}
